* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.top_banner {
    padding: 30px 40px;
    width: 100%;
    background: #e3edf6;
}

.top_banner .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_banner .container .detail {
    margin-left: 30px;
}

.top_banner .container .detail h2 {
    font-size: 52px;
    color: #010f1c;
    margin-right: 50%;
    margin-bottom: 20px;
}

.top_banner .container .detail .link {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: #0989ff;
    color: #fff;
    transition: 0.3s;

}

.top_banner .container .detail .link:hover {

    background: #00c3ff;

}

.product_type {
    padding: 20px 30px;
    width: 100%;
}

.product_type .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.product_type .container .box {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5dapx;


}

.product_type .container .box .img_box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #e8f4ff;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_type .container .box .img_box img{
    width: 120px;
    max-width: 100%;
    transition: 0.5s;
}

.product_type .container .box .img_box:hover img{

    transform: scale(1.1);

}

.product_type .container .box .detail {
    max-width: 100%;
    text-align: center;
    align-items: center;

}

.product_type .container .box .detail p{
    color: #9a9a9a;
}

.about{
    padding: 40px 50px;
    width: 100%;
}
.about .container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .container .box{
    padding: 10px 20px;
    display: flex;
    background: #ecf2f7;
    width: 270px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about .container .box .icon{
    color: #e44c8c;
    font-size: 32px;
}

.about .container .box .detail{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.about .container .box .detail h3{
    color: #010f1c;
}
.about .container .box .detail p{
    color: #9a9a9a;
}

.product{
    padding: 30px 40px;
    width: 100%;
}
.product h2{
    font-size: 32px;
    color: #010f1c;
    margin-bottom: 20px;
}

.product .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.product .container .box{
    overflow: hidden;
    width: 330px;
    height: 430px;
    border: 1px solid #e2e0e0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    gap: 12px;
}
.product .container .box.box:hover{
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}


.product .container .box img{
    width: 300px;
}
.product .container .box .img_box{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #e2e0e0;
}

.product .container .box .img_box .icon{
    z-index: 1;
    list-style: none;
}

.product .container .box .img_box .icon li{
    padding-bottom: 3px;
    transition: 0.5s;
}

.product .container .box .img_box:hover .icon li{
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    background: #fff;
    font-size: 18px;
    transition: 0.5s;
    margin-right: 10px;
}
.product .container .box .img_box .icon li:hover{
    background: #0989ff;
    color: #fff;
}

.product .container .box .detail{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 4px;
}

.product .container .box .detail p{
    color: #9a9a9a;
    font-size: 14px;
}

.product .container .box .detail h3{
    font-size: 16px;
    color: #010f1c;
    transition: 0.5s;
}

.product .container .box .detail h4{
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;
}